# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=

# Database connection settings
CRAFT_DB_DRIVER="mysql"
CRAFT_DB_SERVER="db"
CRAFT_DB_PORT="3306"
CRAFT_DB_DATABASE="db"
CRAFT_DB_USER="db"
CRAFT_DB_PASSWORD="db"
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=

# General settings
CRAFT_SECURITY_KEY=
CRAFT_DEV_MODE=true
CRAFT_ALLOW_ADMIN_CHANGES=true
CRAFT_DISALLOW_ROBOTS=true

# Plugins
PLUGIN_IMAGERX=XXXXXXXXXXXXXXXXXXXXXXXX
PLUGIN_SEOMATIC=XXXXXXXXXXXXXXXXXXXXXXXX
PLUGIN_NAVIGATION=XXXXXXXXXXXXXXXXXXXXXXXX

# Project Settings
PRIMARY_SITE_URL="https://craft-nuxt-starter.ddev.site"
PRIMARY_SITE_URL_DE=${PRIMARY_SITE_URL}/de
PRIMARY_SITE_URL_ES=${PRIMARY_SITE_URL}/es
FALLBACK_IMAGE=/dist/images/bitmap/placeholder.png
